.App {
  max-width: 1025px;
  text-align: center;
  border-bottom-left-radius: 40px 25px;
  border-bottom-right-radius: 20px 23px;
  border-top-left-radius: 29px 26px;
  border-top-right-radius: 33px 22px;
  width: 100%;
  text-align: center;
  max-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 400px) {
  .App {
    padding: 10px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
